.hover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2rem;
  overflow: hidden;
  min-width: 80px;
}

.text-wrapper {
  position: relative;
  height: 100%;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}

.text-bottom {
  top: 0; /* Not top: 100%! */
  opacity: 0;
}

.dot {
  opacity: 0;
}
