<div class="d-flex vw-100 position-relative header-container">
  <div
    class="container-fluid d-flex justify-content-between align-items-center pt-md-3 mx-md-2 py-2 mx-2"
  >
    <h5 class="d-none d-md-block mb-0">Aadhi.</h5>
    <img
      src="assets/images/img-logo.png"
      class="img-fluid"
      alt="Logo"
      style="width: 50px; height: 50px"
      class="logo d-block d-md-none mb-0"
    />

    <div class="d-none d-md-flex gap-4">
      <div
        class="hover-container"
        *ngFor="let header of listOfHeaders; let i = index"
        swapAnimate
      >
        <div class="text-wrapper">
          <h4 class="text text-top">{{ header.title }}</h4>
          <h4 class="text text-bottom underline-title" flipAnimate>
            {{ header.title }}
            <span class="underline"></span>
          </h4>
        </div>
        <span class="dot">.</span>
      </div>
    </div>

    <div class="d-flex d-md-none" (click)="toggleMenu()">
      <h4 class="menu-title" #menuTitle>{{ isMenuOpen ? "Close" : "Menu" }}</h4>
    </div>
  </div>

  <div
    #dropdownMenu
    class="dropdown-menu-mobile w-100 px-4 py-3 border-top d-md-none position-absolute"
  >
    <div>
      <h6
        class="text-start fw-normal mt-4 text-container"
        style="font-size: 0.8rem !important"
        #textContainer
      >
        NAVIGATION
      </h6>
    </div>
    <div
      *ngFor="let header of listOfHeaders; let i = index"
      style="font-size: 2rem"
    >
      <a href="#" class="text-decoration-none text-container" #textContainer>{{
        header.title
      }}</a>
    </div>

    <hr class="mt-5 mb-3" />

    <div class="d-flex">
      <div class="d-flex gap-4 mt-4">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="icon-circle"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="icon-circle">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="icon-circle">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
