.hover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2rem;
  overflow: hidden;
  min-width: 80px;
}

.text-wrapper {
  position: relative;
  height: 100%;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}

.text-bottom {
  top: 0; /* Not top: 100%! */
  opacity: 0;
}

.dot {
  position: absolute;
  top: 0;
  opacity: 0;
}

.dropdown-menu-mobile {
  overflow: hidden;
  opacity: 0;
  height: 0;
  background-color: #f6f7f5;
  transform: translateY(-20px);
  z-index: -1;
  top: 100%;
  left: 0;
  right: 0;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e9ece5;
  border: 1px solid #dcded8; // subtle light grey border
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;

  i {
    font-size: 18px;
  }
}
