.header-container {
  background-color: rgb(246, 247, 245);
}

.hover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2rem;
  overflow: hidden;
  width: auto;
}

.text-wrapper {
  position: relative;
  height: 100%;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: auto;
  font-size: 1rem;
}

.text-bottom {
  top: 0;
  opacity: 0;
}

.dot {
  position: absolute;
  top: 0;
  opacity: 0;
}

.dropdown-menu-mobile {
  overflow: hidden;
  opacity: 0;
  height: 0;
  background-color: #f6f7f5;
  transform: translateY(-20px);
  z-index: -1;
  top: 100%;
  left: 0;
  right: 0;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #e9ece5;
  border: 1px solid #dcded8; // subtle light grey border
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;

  i {
    font-size: 18px;
  }
}

.text-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: auto;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
}

.underline-title {
  position: relative;
  display: inline-block;
  cursor: pointer;

  span.underline {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1.5px;
    background-color: #000;
    transform-origin: left;
    transform: scaleX(0);
  }
}
