// styles.scss

@use "bootstrap/scss/bootstrap" with (
  $primary: #000000,
  // Black
  $secondary: #ffffff,
  // White
  $dark: #000000,
  $light: #ffffff,
  $body-bg: #ffffff,
  // White background
  $body-color: #000000,
  // Black text
  $font-family-base: "Sora"
);

// Import Bootstrap Icons (after Bootstrap)
@import "bootstrap-icons/font/bootstrap-icons.css";

// Global body styles
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Sora", sans-serif;
}

.text-muted {
  color: #6c757d !important;
}
