// styles.scss

@use "bootstrap/scss/bootstrap" with (
  $primary: #000000,
  $secondary: #ffffff,
  $dark: #000000,
  $light: #ffffff,
  $body-bg: #ffffff,
  $body-color: #000000,
  $font-family-base: "Sora"
);

@import "bootstrap-icons/font/bootstrap-icons.css";

// Define light theme variables
:root {
  --bg-color: #f0f0f3;
  --text-color: #000000;
  --secondary-text: #6c757d;
}

// Define dark theme variables under .dark-theme class
.dark-theme {
  --bg-color: #000000;
  --text-color: #ffffff;
  --secondary-text: #a0a0a0;
}

// Apply variables globally
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Sora", sans-serif;
}

.text-muted {
  color: var(--secondary-text) !important;
}
